
@{
    ViewBag.Title = "Credential";
}

<!--Перенести в файл тем-->

<style>
    .mainContainer {
        
        height: 350px;        
    }
    .backgroundDiv {
        background-image: url('../../Content/Image/password.jpg');
        width: 400px;
    }

    .brushLabel {
        color: white;
    }

    .inputFull {
        width: 100%;
    }

    .inputHalf {
        width: 50%;
    }

    .Opacity {
        opacity: 0.75;        
        
    }

    .nextRow {
        margin-top: 15px;
    }

    .setMinHeight {
        min-height: 150px;
    }

    .rightAlign {
        text-align: right;
    }

    .leftAlign {
        text-align: left;
    }
    .centerAlign {
        text-align: center;
    }
    .justifyAlign {
        text-align: justify;
    }
</style>


<div class="container-fluid">
    <div class="row backgroundDiv mainContainer">
        <div class=" row Opacity col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class=" row">
                <div class="centerAlign col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3> A letter will be sent from this mail.</h3>
                </div>
            </div>
            <div class=" row nextRow">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Login</div>
            </div>
            <div class=" row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input />
                </div>
            </div>
            <div class=" row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">Password</div>
            </div>
            <div class=" row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input />
                </div>
            </div>
            <div class=" row">
                <div class="centerAlign nextRow col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <button>Login</button> <!--Заменить на ссылку-->
                </div>
            </div>
        </div>
    </div>
</div>
   

