
@{
    ViewBag.Title = "Credential";
}

<!--Перенести в файл тем-->

<style>
    .mainContainer {
        
        height: 350px;        
    }
    .backgroundDiv {
        background-image: url('../../Content/Image/password.jpg');
        width: 400px;
    }

    .brushLabel {
        color: white;
    }

    .inputFull {
        width: 100%;
    }

    .inputHalf {
        width: 50%;
    }

    .Opacity {
        opacity: 0.75;        
        
    }

    .nextRow {
        margin-top: 15px;
    }

    .setMinHeight {
        min-height: 150px;
    }

    .rightAlign {
        text-align: right;
    }

    .leftAlign {
        text-align: left;
    }
    .centerAlign {
        text-align: center;
    }
    .justifyAlign {
        text-align: justify;
    }
    .error{
        color: red;
    }
</style>


<div class="container-fluid">
    <div class="row backgroundDiv mainContainer">
        <div class=" row Opacity col-xs-12 col-sm-12 col-md-12 col-lg-12">           
            @using (Html.BeginForm("Credential", "Home"))
            {
                <h3> A letter will be sent from this mail.</h3>
               <div class="error"><h4>@ViewData["Error"]</h4></div> 
                <table>
                    <tr>
                        <td><p>Email</p></td>
                        <td><input type="email" name="Email" placeholder="Enter your email"/> </td>
                    </tr>
                    <tr>
                        <td><p>Password</p></td>
                        <td><input type="password" name="Password" placeholder="Enter your Password"/> </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Login" /> </td>                        
                    </tr>
                </table>
            }
        </div>
    </div>
</div>
   

