<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMainService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="MainService.IMainService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:01:00" sendTimeout="00:01:00"
                    transferMode="Streamed" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/MainService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMainService" contract="MailService.IMainService"
                name="BasicHttpBinding_IMainService" />
            <endpoint address="net.tcp://localhost:45617/MainService" binding="netTcpBinding"
                bindingConfiguration="MainService.IMainService" contract="MailService.IMainService"
                name="NetTcpBinding_IMainService">
                <identity>
                    <userPrincipalName value="HOTABICH\Hotabich" />
                </identity>
            </endpoint>
        </client>
      
    </system.serviceModel>
</configuration>